{% extends 'base.html' %}
{% block title %}Pobierz opinie{% endblock %}
{% set active_page = "extract" %}
{% block content %}
<form class="form-inline" method="POST" action="{{url_for('extract')}}">
    <div class="form-group mx-sm-3 mb-2">
        
        <label for="product_id" class="col-form-label">Kod produktu</label>
    
        <input type="number" required id="product_id" name="product_id" placeholder="Wpisz kod produktu" class="form-control" aria-describedby="passwordHelpInline">
    </div>
        <input type="submit" class="btn btn-primary mb-2" value="Pobierz">
        
    
</form>
{% endblock %}