{% extends 'base.html' %}
{% block title %}Produkty lista{% endblock %}
{% block content %}     
<div class="row">
    <div class="col-md-8 offset-md-2 bg-light">
        <h2 class="text-center">Lista produktów</h2>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Produkt</th>
                    <th scope="col">Liczba opinii</th>
                    <th scope="col">Lista Zalet</th>
                    <th scope="col">Lista Wad</th>
                    <th scope="col">Średnia Ocena</th>
                    <th scope="col">JSON</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a href="{{url_for('product')}}" class="link-dark">58795841</a></th>
                    <td>25</td>
                    <td>41</td>
                    <td>2</td>
                    <td>3.79</td>
                    <td><a href="../opinions/58795841.json" class="link-dark">Pobierz JSON</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}