<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>58795841</title>
</head>

<body>
    <header class="container">
        <h1 class="text-center">Ceneo Web Scraper</h1>
    </header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand"><i class="bi bi-three-dots-vertical"></i> Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html"><i class="bi bi-house-fill"></i> Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ekstrakcja.html"><i class="bi bi-card-heading"></i> Ekstrakcja
                            opinii</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="lista.html"><i class="bi bi-list-ul"></i> Lista produktów</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="autor.html"><i class="bi bi-person-square"></i> O autorze</a>
                    </li>
                </ul>

            </div>
        </nav>

    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bg-light">
            <h2 class="text-center">58795841</h2>
            <table id="dane" class="table table-striped">
                <tr>
                    <th>ID opinii</th>
                    <th>Autor</th>
                    <th>Rekomendacja</th>
                    <th>Ocena</th>
                    <th>Zakup</th>
                    <th>Opublikowane</th>
                    <th>Zakupione</th>
                    <th>Pozytywne</th>
                    <th>Negatywne</th>
                    <th>Komentarz</th>
                    <th>Pro</th>
                    <th>Cons</th>
                </tr>
                <tr>
                    <td>13651605</td>
                    <td>l...6</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-12-26 11:22:29</td>
                    <td>2020-12-16 14:33:27</td>
                    <td>13</td>
                    <td>0</td>
                    <td>Wykonanie ok,przy rozruchu puścił dymek być może jednak musi sie dotrzeć .Zużycie paliwa pod
                        piłą łańcuchową 1800w 1,5l /2h,na oświetlenie domku około 30w na 7h/2,5l!!!!.Wyszło niecałe
                        0,4l/h więc jestem mega usatysfakcjonowany.Na razie przepracował jakieś 9h więc bez uwag ,aha i
                        jest na prawdę cichy (wcześniej stanley 3100-porażka bo się spaliła pradnica).Lekkosć produktu
                        na plus</td>
                    <td>funkcjonalność,łatwość używania</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13283296</td>
                    <td>f...a</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-10-28 07:49:41</td>
                    <td>2020-10-11 12:08:19</td>
                    <td>8</td>
                    <td>0</td>
                    <td>Sprzęt z najwyższej półki. Wymagasz jakości to będziesz zadowolony. Bardzo wysoka kultura pracy
                        i stabilne zasilanie bez porownania do tanich agregatów i chińskich podróbek</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13851609</td>
                    <td>s...l</td>
                    <td>Polecam</td>
                    <td>4/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-01-27 21:49:21</td>
                    <td>2021-01-18 21:00:41</td>
                    <td>5</td>
                    <td>0</td>
                    <td>Honda EU22i ok , szkoda ze produkcja jest tajska, a nie japońska , produkt ok, spełnia
                        oczekiwania.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10789612</td>
                    <td>Mirek</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2019-07-16 09:29:18</td>
                    <td>2019-07-11 15:51:55</td>
                    <td>3</td>
                    <td>8</td>
                    <td>Sąsiad użytkuje i sobie bardzo chwali miałem okazję popracować. Bardzo duża oszczędność paliwa
                        względem taniej marki....</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14695796</td>
                    <td>j...7</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-08 06:07:59</td>
                    <td>2021-06-30 12:14:52</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Agregat jeden z najtanszych jakie znalazlem na necie. Profesionalne podjescie do klienta.
                        Wszystko na 5. Polecam</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14678272</td>
                    <td>e...r</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-03 08:39:51</td>
                    <td>2021-06-30 14:36:17</td>
                    <td>3</td>
                    <td>0</td>
                    <td>Super, inwerter wysokiej klasy, estetyczny wygląd i w miarę cichy. Odpala po pierwszym
                        szarpnięciu.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14580932</td>
                    <td>Adrian.</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-06-09 23:24:34</td>
                    <td>2021-06-05 00:24:44</td>
                    <td>1</td>
                    <td>13</td>
                    <td>W zasadzie decyzję zakupu podjąłem w oparciu o bardzo pozytywne opinie użytkowników co do
                        bezawaryjności Hondy. Ponadto gabaryty urządzenia miały dla mnie znaczenie. Sprzęt dotarł w dniu
                        dzisiejszym i jeszcze nie został odpalony.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13901716</td>
                    <td>p...z</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-02-04 22:00:08</td>
                    <td>2021-01-19 21:36:37</td>
                    <td>4</td>
                    <td>1</td>
                    <td>idealny do prac serwisowych zasilania np oświetlenia i odkurzacza. agregat bardzo oszczędny</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14605539</td>
                    <td>7...o</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-06-16 08:26:13</td>
                    <td>2021-06-13 09:05:45</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Droga w zakupie ale wychodzę z założenia kto tanio kupuje drogo kupuje.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12055159</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-04-03 10:07:07</td>
                    <td>2020-03-16 13:42:03</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Bardzo wysoka jakość wykonania, cicha praca, niewielkie rozmiary. Polecam.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14913231</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-09-02 08:12:56</td>
                    <td>2021-08-19 10:22:45</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Produkt wygląda i brzmi solidnie - czas pokaże czy jest niezawodny w użytkowaniu</td>
                    <td>funkcjonalność,łatwość używania</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14035373</td>
                    <td>k...p</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-03-01 07:41:45</td>
                    <td>2021-02-16 19:37:53</td>
                    <td>2</td>
                    <td>0</td>
                    <td>Super wszystko na najwyższym poziomie - polecam !</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14338779</td>
                    <td>k...1</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-04-22 13:29:42</td>
                    <td>2021-04-20 10:22:53</td>
                    <td>2</td>
                    <td>0</td>
                    <td>Polecam
                        Bardzo dobry sprzęt to już mój drugi agregat</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12186066</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-04-18 11:38:44</td>
                    <td>2020-04-01 00:03:03</td>
                    <td>3</td>
                    <td>1</td>
                    <td>Do tej pory nie zawiodłem się na Hondzie.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>17121823</td>
                    <td>k...y</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2023-02-08 22:15:48</td>
                    <td>2023-01-28 14:56:01</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Jeszcze nie zdążyłem uruchomić, ale wygląda solidnie, w końcu to Honda</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15398742</td>
                    <td>s...a</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-12-20 17:28:04</td>
                    <td>2021-11-19 23:03:46</td>
                    <td>2</td>
                    <td>0</td>
                    <td>Niezawodny produkt na małe potrzeby energetyczne</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8782052</td>
                    <td>Sviatlana</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2018-12-20 15:31:41</td>
                    <td>2018-12-03 22:38:57</td>
                    <td>2</td>
                    <td>1</td>
                    <td>Dobry</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15183822</td>
                    <td>a...c</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-11-09 13:32:44</td>
                    <td>2021-10-25 18:37:08</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Dardzo cichy i jednocześnie wydajny godny polecenia</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11508990</td>
                    <td>Sylwia</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2019-12-31 10:17:27</td>
                    <td>2019-12-18 12:41:41</td>
                    <td>2</td>
                    <td>0</td>
                    <td>cichy i funkcjonalny polecam</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16254026</td>
                    <td>m...8</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2022-06-27 12:27:50</td>
                    <td>2022-06-10 17:32:57</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Na obecną chwilę z sprzęt nie ma problemów</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15880219</td>
                    <td>j...c</td>
                    <td></td>
                    <td>3,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2022-03-28 11:16:42</td>
                    <td>2022-02-24 11:15:53</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Mam nadzieje , że będę zadowolony, zamówiłem i czekam na odbiór</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14484541</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-05-20 04:46:07</td>
                    <td>2021-04-30 12:51:00</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Cięższy od poprzednika ale coś za coś.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12051314</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-04-02 20:46:14</td>
                    <td>2020-03-23 13:13:23</td>
                    <td>2</td>
                    <td>1</td>
                    <td>Jest niezwykle innowacyjny</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14860932</td>
                    <td>s...4</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-08-19 11:15:05</td>
                    <td>2021-08-09 13:51:03</td>
                    <td>0</td>
                    <td>0</td>
                    <td>narazie testuje ale wygląda porządnie</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14895881</td>
                    <td>b...o</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-08-27 23:43:41</td>
                    <td>2021-07-28 00:00:16</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Sprzęt najwyższej jakości. Polecam.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14832644</td>
                    <td>m...2</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-08-12 09:28:03</td>
                    <td>2021-07-11 15:41:39</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Wszystko zgodnie z opisem, polecam.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14626294</td>
                    <td>b...7</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-06-21 17:21:02</td>
                    <td>2021-06-15 11:18:19</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Nie było problemów z uruchomieniem</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13929104</td>
                    <td>b...o</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-02-10 09:33:18</td>
                    <td>2021-01-28 15:03:15</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Produkt spełnił moje oczekiwania</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14682368</td>
                    <td>r...a</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-05 11:49:43</td>
                    <td>2021-06-15 08:47:19</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Top. Sprawdzony. Działa super.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13272406</td>
                    <td>l...i</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-10-26 09:24:38</td>
                    <td>2020-10-15 11:59:00</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Zgodny z opisem super sprzęt</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14790263</td>
                    <td>e...a</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-08-01 11:44:58</td>
                    <td>2021-07-25 19:53:56</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Wart swojej ceny</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15155250</td>
                    <td>r...n</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-11-02 19:40:37</td>
                    <td>2021-10-03 14:42:49</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Bardzo dobre urządzenie.</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11988720</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-03-26 10:19:59</td>
                    <td>2020-03-23 10:50:09</td>
                    <td>1</td>
                    <td>1</td>
                    <td>spełnił moje oczekiwania</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11929486</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-03-18 11:31:39</td>
                    <td>2020-03-01 12:34:09</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Solidna cicha</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12865571</td>
                    <td>k...a</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-07-28 23:10:04</td>
                    <td>2020-07-10 00:06:39</td>
                    <td>1</td>
                    <td>0</td>
                    <td>Super maszyna</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14684676</td>
                    <td>o...z</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-05 22:38:53</td>
                    <td>2021-06-30 11:45:13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Bardzo dobry sprzęt</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13009658</td>
                    <td>f...k</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-08-26 21:07:54</td>
                    <td>2020-08-17 13:00:48</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Cichy, prosty w obsłudze.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14745313</td>
                    <td>m...2</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-21 07:42:25</td>
                    <td>2021-07-11 15:22:06</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Zgodny z opisem</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13438724</td>
                    <td>k...1</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-11-24 19:50:16</td>
                    <td>2020-11-11 13:48:54</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Super sprzęt.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13377648</td>
                    <td>m...l</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-11-14 09:00:11</td>
                    <td>2020-11-08 20:30:24</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Super sprzęt</td>
                    <td></td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                </tr>
                <tr>
                    <td>12008106</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-03-28 09:10:41</td>
                    <td>2020-03-17 12:46:50</td>
                    <td>0</td>
                    <td>0</td>
                    <td>bardzo dobry</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13894672</td>
                    <td>b...w</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-02-04 01:00:27</td>
                    <td>2021-01-19 08:34:10</td>
                    <td>0</td>
                    <td>0</td>
                    <td>wszystko ok</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13184860</td>
                    <td>b...o</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-10-09 21:20:27</td>
                    <td>2020-08-31 12:25:56</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Wszystko ok</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14798567</td>
                    <td>l...a</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-08-03 22:04:34</td>
                    <td>2021-07-17 07:07:27</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Super</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15148231</td>
                    <td>m...k</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-10-30 22:14:09</td>
                    <td>2021-09-27 18:10:30</td>
                    <td>0</td>
                    <td>0</td>
                    <td>super</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13704005</td>
                    <td>infomkserv*****</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-01-04 06:51:18</td>
                    <td>2020-12-10 20:40:32</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Cichy</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13052687</td>
                    <td>m...z</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-09-06 19:52:50</td>
                    <td>2020-08-06 08:42:52</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Super</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15194913</td>
                    <td>c...k</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-11-11 21:38:15</td>
                    <td>2021-10-23 14:32:53</td>
                    <td>0</td>
                    <td>0</td>
                    <td>ok</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13390427</td>
                    <td>a...k</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-11-17 10:13:51</td>
                    <td>2020-11-11 13:54:42</td>
                    <td>0</td>
                    <td>0</td>
                    <td>LUX</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15139520</td>
                    <td>b...o</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-10-28 19:09:57</td>
                    <td>2021-09-28 12:44:06</td>
                    <td>0</td>
                    <td>0</td>
                    <td>👍</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15096562</td>
                    <td>a...c</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-10-19 11:38:23</td>
                    <td>2021-10-14 15:00:30</td>
                    <td>0</td>
                    <td>0</td>
                    <td>ok</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14405951</td>
                    <td>m...k</td>
                    <td>Polecam</td>
                    <td>4,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-05-05 08:34:13</td>
                    <td>2021-04-07 12:51:13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>OK</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13441028</td>
                    <td>c...y</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-11-24 23:19:12</td>
                    <td>2020-10-30 10:34:54</td>
                    <td>0</td>
                    <td>0</td>
                    <td>ha</td>
                    <td>funkcjonalność,łatwość używania,wytrzymałość</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12336292</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-05-05 08:14:39</td>
                    <td>2020-04-29 13:01:14</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Ok</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11475699</td>
                    <td>Wiesław</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2019-12-23 14:22:21</td>
                    <td>2019-12-11 16:06:59</td>
                    <td>0</td>
                    <td>0</td>
                    <td>ok</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14750823</td>
                    <td>s...a</td>
                    <td>Polecam</td>
                    <td>4/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2021-07-22 07:18:30</td>
                    <td>2021-07-16 22:38:20</td>
                    <td>0</td>
                    <td>2</td>
                    <td>Jeszcze nie wiem.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12399508</td>
                    <td>Użytkownik Ceneo</td>
                    <td>Polecam</td>
                    <td>5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2020-05-12 09:08:27</td>
                    <td>2020-04-29 13:21:07</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Honda</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15808617</td>
                    <td>r...a</td>
                    <td>Nie polecam</td>
                    <td>1/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2022-03-11 08:10:56</td>
                    <td>2022-02-22 20:29:57</td>
                    <td>0</td>
                    <td>3</td>
                    <td>Zamówiłem miesiąc temu i jeszcze nie dotarł jak będzie to wyśle opinie</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16758974</td>
                    <td>p...z</td>
                    <td>Nie polecam</td>
                    <td>0,5/5</td>
                    <td>Transakcja pochodzi z Marketplace Ceneo (usługi Kup Teraz).</td>
                    <td>2022-11-17 12:41:45</td>
                    <td>2021-12-03 13:30:11</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Produkt nie dotarł, nie więc co oceniać.</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            </table>
        </div>
    </div>

    <footer class="container">
        (c) Łukasz Doniec, Uniwersytet Ekonomiczny w Krakowie
    </footer>
</body>

</html>